<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Cars - Display</title>
    </head>
    <body>
        <div th:replace="/cars/index"></div>

        <table class="table" style="margin: 20px">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Model</th>
                <th scope="col">Condition</th>
                <th scope="col">Is On Service</th>
                <th scope="col">Manufacturer</th>
                <th scope="col">Load Capacity</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="car : ${cars}" th:class="${car.equals(currentDriverCar) ? 'table-primary' : ''}">
                <th th:utext="${car.id}" scope="row"></th>
                <th th:utext="${car.id}" scope="row"></th>
                <td th:utext="${car.model}"></td>
                <td th:utext="${car.condition} + '%'"></td>
                <td th:utext="${car.isOnService == 1 ? 'yes' : 'no'}"></td>
                <td th:utext="${car.manufacturer}"></td>
                <td th:utext="${car.loadCapacity} + 'kg'"></td>
            </tr>
            </tbody>
        </table>
    </body>
</html>