<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Drivers - Main</title>
    </head>
    <body>
        <div th:replace="main"></div>

        <nav th:fragment="driversNavBar" class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Drivers Navigation Panel</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" th:href="@{/drivers/get-all}">Show All</a>
                        </li>
                        <li class="nav-item" th:if="${#request.isUserInRole('ROLE_ADMIN') || #request.isUserInRole('ROLE_DISPATCHER')}">
                            <a class="nav-link" aria-current="page" th:href="@{/drivers/create}">Create</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div th:replace="operation_status :: statusBar"></div>
    </body>
</html>